nav{
  position: fixed;
  top: 0;
  z-index: 99;
}
.hero{
  padding: 10px;
}
.darkblue{
  color: #224093;
}
.padding{
  padding: 0px 350px;
}
.padding>hr{
  border: 2px solid grey;
  position: relative;
  bottom: 38px;
}
.gradient{
  background: linear-gradient( rgb(196,143,13) 20%,  rgb(85,118,207)80% );
  height: 300px;
}

.padding2{
  padding: 20px 50px;
}
.fs{
  font-size: 50px;
}
.venueAddress{
  background-image: url(images/stackimg17.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
}


.borderbottom{
  border-bottom: 2px solid white;
  rotate: -90deg;
  position: relative;
  top: 200px;
  right: 250px;
}
.borderbottom1{
  border-bottom: 2px solid white;
  rotate: 90deg;
  position: relative;
  top: 200px;
  left: 900px;
}
.px{
  padding: 20px 100px;
  width: 750px;
  font-size: 37px !important;
}
.yello{
  border: 2px solid #fdb915;
}
.padding3{
  padding: 20px 30px;
}
.con1{
 position: relative;
 right: 100px;
}

.bg-white{
  background-color: white;
  height: 100vh;
}
.bg-gold{
  background-color: goldenrod;
  color: #224093;
}
.bg-blue{
  background-color: #224093;
}
.margintop{
  margin-top: 60px;
}

.margintop1{
  margin-top: 10px;
}

.margintop2{
  margin-top: 150px;
}


@media screen and (max-width: 475px){

  .smalllog>img{
      width: 250px;
  }
  nav>.hido{
    display: none !important;
  }
  .hero{
    width: 100%;
  }
  .heroimg{
    padding: 0 20px;
    margin-top: 100px;
  }
  .heroimg>img{
    width: 1000px;

  }

  .maide{
    display: block;
    width: 100%;
  }
  
}