.hero{
  padding: 10px;
}
.darkblue{
  color: #224093;
}
.padding{
  padding: 0px 350px;
}
.padding>hr{
  border: 2px solid grey;
  position: relative;
  bottom: 38px;
}
.gradient{
  background: linear-gradient( rgb(196,143,13) 20%,  rgb(85,118,207)80% );
  height: 300px;
}

.padding2{
  padding: 20px 50px;
}
.fs{
  font-size: 50px;
}